<!-- fragment/header.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
</head>

<body>
	<!-- ログインページ用ヘッダー -->
	<nav layout:fragment="header" class="navbar navbar-expand-md navbar-dark bg-primary">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" th:text="#{app.title}"></a>
			</div>
		</div>
	</nav>

	<!-- ログイン後のページ用ヘッダー -->
	<nav layout:fragment="headerWithUser" class="navbar navbar-expand-md navbar-dark bg-primary">
		<div class="container-fluid">
			<div class="navbar-header d-flex align-items-center">
				<a class="navbar-brand" th:text="#{app.title}"></a>

				<!-- ログインユーザーを表示 --> 
				<span class="text-white" th:text="#{label.username} + ':' + ${#authentication.name}"></span>
			</div>
			<!-- ナビゲーションメニュー -->
			<ul class="navbar-nav mr-auto">
				<!-- アカウント管理ページへのリンク -->
				<li class="nav-item" sec:authorize="hasRole('ADMIN')"
					th:classappend="${currentPath != null and currentPath.startsWith('/accounts')} ? 'active'"><a>
						<a class="nav-link" th:href="@{/accounts}" th:text="#{button.accountView}"></a>
				</li>
				<!-- 見積一覧ページへのリンク -->
				<li class="nav-item"
					th:classappend="${currentPath != null and currentPath.startsWith('/estimates')} ? 'active'"><a
						class="nav-link" th:href="@{/estimates}" th:text="#{button.estimateView}"></a></li>
				<!-- 見積作成ページへのリンク -->
				<li class="nav-item"
					th:classappend="${currentPath != null and currentPath.startsWith('/estimates/create')} ? 'active'">
					<a class="nav-link" th:href="@{/estimates/create}" th:text="#{button.estimateCreate}"></a>
				</li>
			</ul>
			<!-- ログアウトボタン -->
			<form method="post" th:action="@{/logout}">
				<button class="btn btn-outline-light" type="submit" th:text="#{button.logout}"></button>
			</form>

		</div>
	</nav>

</body>

</html>