<!-- templates/estimates.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/commonLayout}">

<head>
<title th:text=#{label.estimateView}></title>
</head>

<body>
  <div layout:fragment="content">

    <!-- メッセージ表示 -->
    <form th:action="@{/estimates}" method="get" class="row g-2 align-items-center mb-4">
      <div class="col-4">
        <div th:if="${message != null and !#strings.isEmpty(message)}">
          <div th:class="'alert ' + (${messageType} == 'error' ? 'alert-danger' : 'alert-success')" th:text="${message}"></div>
        </div>
      </div>

      <!-- タイトル -->
      <div class="col-4 text-center">
        <h1 th:text=#{label.estimateView}></h1>
      </div>
      <!-- 検索フォーム -->
      <div class="col-auto d-flex gap-2">
        <button th:text="#{button.search}" type="submit" class="btn btn-primary" style="white-space: nowrap;"></button>
        <input type="text" class="form-control" name="searchWords" th:value="${searchWords}" placeholder="見積番号、件名、顧客名" />
        <!-- 新規作成ボタン -->
        <a class="btn btn-success" th:text="#{button.create}" th:href="@{/estimates/create}" style="white-space: nowrap;"></a>
      </div>
    </form>

    <!-- 見積書一覧テーブル -->
    <table class="table table-bordered table-hover">
      <thead class="table-light">
        <tr>
          <th th:text="#{label.estimateNumber}"></th>
          <th th:text="#{label.title}"></th>
          <th th:text="#{label.clientName}"></th>
          <th th:text="#{label.createdBy}"></th>
          <th th:text="#{label.updateDate}"></th>
          <th th:text="#{label.createdDate}"></th>
          <th th:text="#{label.controll}"></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="estimate : ${estimatesList}">
          <td th:text="${estimate.estimateNumber}"></td>
          <td th:text="${estimate.title}"></td>
          <td th:text="${estimate.clientName}"></td>
          <td th:text="${estimate.fullName}"></td>
          <td th:text="${estimate.updateAt}"></td>
          <td th:text="${estimate.createdAt}"></td>
          <td>
            <a th:text="#{button.detialView}" th:href="@{|/estimates/detail/${estimate.id}|}" class="btn btn-outline-primary btn-sm"></a>
            <a th:text="#{button.edit}" th:href="@{|/estimates/edit/${estimate.id}|}" class="btn btn-outline-secondary btn-sm"></a>
            <a th:text="#{button.delete}" th:href="@{|/estimates/confirmDelete/${estimate.id}|}" class="btn btn-outline-danger btn-sm"></a>
          </td>
        </tr>
        <tr th:if="${#lists.isEmpty(estimatesList)}">
          <td colspan="5" class="text-center">見積書がありません</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>